PROJECT_NAME="Full-Stack Template"
PROJECT_VERSION="0.1.0"

PG_HOST=db
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=12345678
PG_DB=example_db

FIRST_SUPERUSER_USERNAME=
FIRST_SUPERUSER_PASSWORD=

ENVIRONMENT="local" # Options: local, staging, production
